@import './../../global/variables';

.CardSkill {
    padding: 20px 30px;
    margin-bottom: 16px;
    width: calc(50% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: $white;
    border-radius: 13px;
    &.user {
        border: 1px solid #DA643A;
        background: #FF885F;
    }
    &.superadmin {
        border: 1px solid #096FAC;
        background: #27A3ED;
    }
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    .Note {
        margin-left: 20px;
        font-size: 40px;
    }
    select {
        color: $darkgrey;
        height: 40px;
        width: 50px;
    }
}
