.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: white;
}
.Navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Navigation > * {
    color: white;
    text-decoration: none;
}
.Navigation a {
    color: white;
    text-decoration: none;
}

.Navigation button {
    margin-left: auto;
}

.Navigation ul li:not(:last-child) {
   margin-right: 34px;
}

.Navigation ul li:before {
    font-family: "fontello";
    display: block;
    width: 16px;
    margin-right: 8px;
}

.Navigation ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Profile:before {
    font-size: 16px;
    content: "\E800";
}

.Student:before {
    font-size: 16px;
    content: "\E801"; 
}

.Teacher:before {
    font-size: 16px;
    content: "\E801"; 
}

.Disconnect {
    cursor: pointer;
}