@import './../../global/variables';

.SkillContainer {
    width: 100%;
    margin-left: 78px;
    padding-top: 40px;
}

.SkillContainer .Title {
    font-size: 40px;
    margin-bottom: 32px;
}

.CardSkillContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.SkillContainer .CardSkill {
    font-size: 18px;
    background: #FAE14C;
    border: 1px solid #D2BE41;
    border-radius: 13px;
    padding: 22px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(45% - 36px);
    margin-bottom: 16px;
}

.SkillContainer .CardSkill .Note {
    font-size: 40px;
}
