@import './../../global/variables';

.CardProfile {
    overflow: hidden;
    position: relative;
    background-color: white;
    max-width: 390px;
    height: 515px;
    border-radius: 13px;
    width: 100%;
    .Banner {
        height: 147px;
        .Image {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            display: block;
            height: 100%;
            background-color: blue;
        }
    }
    .Content {
        & > * {
            position: absolute;
            padding: 0px 24px;
            width: 100%;
        }
        .ImgProfile {
            padding: 0 ;
            top: 74px;
            height: 124px;
            width: 124px;
            border-radius: 50%;
            overflow: hidden;
            left: 50%;
            transform: translateX(-50%);
            .Image {
                display: block;
                height: 100%;
                max-width: 100%;
                background-color: red;
            }
        }
        .Name {
            top: 230px;
            text-align: center;
            font-weight: 600;
            font-size: 24px;
        }
        .Item {
            & > span {
                display: block;
                margin-bottom: 6px;
                font-size: 18px;
                font-weight: 600;
                color: lightgrey;
            }
            a {
                display: block;
                color: #0B8EDC;
            }
            &.Promotion {
                top: 285px;
            }
            &.Job {
                top: 356px;
            }
            &.Mail {
                top: 424px;
            }
        }
    }
}